*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  
  list-style: none;
}
body{
  width: 100%;
  max-width: 100;
  height: 100vh;
  overflow-x: hidden;
  background-image: radial-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url(../images/restaurantlogo1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 
}
header{
 
  width: 100%;
  max-width: 100%;
  /* height: 10%; */
  position: fixed;
  overflow-x: hidden;
  padding: 5px 2%;
background-color: transparent;
backdrop-filter: blur(5px);
}
.container{
  
  display: flex;
  justify-content: space-between;
  text-wrap: nowrap;
}
.logo{
  display: flex;
  align-items: center;
}
.logo img{
  width: 10%;
  max-width: 10%;
}
.logo h1{
  font-size: 40px;
  font-weight: 800px;
  color: aliceblue;
}

.navbar{
  margin-left: auto;
  font-size: 1rem;
 
 
  
}
.navbar {
  display: flex;
  gap: 2rem;
 align-items: center;
  
}

.navbar a{
  color: #fff;
  
 
}
.navbar a img{
  width: 35px;
    height: 15px;
    align-items: center;
}
.navbar button{
  padding: 10px;
  border-radius: 10px;
}
.navbar li a:hover{
  color: #CC3333;
}

.dropdown_menu{
  position: absolute;
  top:100%;
  box-shadow:1px 2px 3px rgba(0,0,0,.2);
  /* opacity: 0; */
  display: none;
  transition: all ease 1s;
}

.dropdown_menu ul{
  display: block;
  padding: 15px 15px;
 
}
.dropdown_menu li{
  
  padding: 5px;
}

li:hover .dropdown_menu{
  /* opacity: 1; */
  display: block;
  transition: all 1s ease;
}

.container1{
  

  /* width: 100%;
  max-width: 100%;
  height: 100%; */
 
    /* background-image: radial-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url(../images/restaurantlogo1.jpg); */
    /* background-repeat: no-repeat; */
    /* background-position: center;
    background-size: cover; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap:2rem;
    
    height:auto;
  
}
 

.content1 h1{

  
  padding-left: 50px;
  font-size: 70px;
  font-style: oblique;
  font-weight: 100px;
  color: #fff;
}
.content1 p{
  color: white;
  font-size: large;
  align-content: justify;
  padding: 10px;
}
.content1 .btn{
  padding: 20px;
  margin-left: 60px;
  color: #fff;
  border-radius: 15%;
  cursor: pointer;
  background: transparent;
}
.btn:hover{
  transform: scale(1.1);
  background-color: blue;
}
 .animate h1,.para,.btn{
  animation: slide 1s linear;

}
@keyframes slide {
  0%{
    transform: translateX(-50px);
    

  }
}

.content2 img{
  width: 80%;
  max-width: 60%;
  /* height: auto; */

  margin-top: 70px;
}
.animate1 img{
  
  animation-name: rotate;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}


@keyframes rotate{
  from{
      transform: rotate(0deg);
      
  }
  to{
    transform: rotate(360deg);
   
  }
}





/*****card start****/


 .container2{
  margin-top: 10px;
  width: 100%;
  max-width: 100%;
  height: 60vh;
  background-color: aliceblue;
  
  
} 
.card{
  display: grid;
  /* grid-template-columns: repeat(auto-fit,minmax(270px,1fr)); */
  grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
  gap:5px;
}
.card1{
 
  background-color: azure;
   margin: 5px;
   
   /* grid-template-columns: repeat(3,0.4fr); */

}
 
 /* .card{
  width: 100%;  */
  /* min-width: 100%; */
  /* justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
  height: 50vh;
  padding: 10px;
  box-shadow: 1px 1px rgba(0, 0, 0, .1);
  
} */

/* .card1{
 
 background-color: azure;
  margin: 5px;
  display: flex;
  flex-direction: column; */
  /* grid-template-columns: repeat(3,0.4fr); */
 


.animate2{
  animation: slide 1s ease;
  
}
@keyframes slide {
  0%{
    transform: translateY(100%);
  }
}
.card1 img{
  width: 60%;
  height: 60%;
  border-radius: 50%;
  padding-top: 20px;

}
.card1:hover{
  color: white;
  background-color: orange;
  transform: translateY(-10px);
}

.card1 h1{
  
 
  text-wrap: nowrap;
 left: 0;
 text-decoration: underline;
 padding-left: 5px;
 padding-bottom: 10px;
 
}
.card1 p{
  
  text-align: justify;
  padding: 10px;
}
/* .card2{
 
  background-color: azure;
  margin: 5px;
} */
.animate3{
  animation: slide 2s ease;
  
}
@keyframes slide {
  0%{
    transform: translateY(100%);
  }
}
/* .card2:hover{
  color: white;
  background-color: orange;
}
.card2 img{
  width: 60%;
  height: 60%;
  border-radius: 50%;
  padding-top: 15px;
}
.card2 h1{
  display: flex;
  align-items: flex-start;
 left: 0;
 text-decoration: underline;
 padding-left: 200px;
 padding-bottom: 10px;
 
}
.card2 p{
  text-align: justify;
  padding: 10px;
}
.card3{
 
  background-color: azure;
  margin: 5px;
} */
.animate4{
  animation: slide 3s ease;
  
}
@keyframes slide {
  0%{
    transform: translateY(100%);
  }
}
/* .card3:hover{
  color: white;
  background-color: orange;
}
.card3 img{
  width: 60%;
  height: 60%;
  border-radius: 50%;
  padding-top: 20px;

}
.card3 h1{
  display: flex;
  align-items: flex-start;
 left: 0;
 text-decoration: underline;
 padding-left: 200px;
 padding-bottom: 10px;
 
}
.card3 p{
  text-align: justify;
  padding: 10px;
}
.card4{
  
  background-color: azure;
  margin: 5px;
} */
.animate5{
  animation: slide 4s ease;
  
}
@keyframes slide {
  0%{
    transform: translateY(100%);
  }
}
/* .card4:hover{
  color: white;
  background-color: orange;
}
.card4 img{
  width: 60%;
  height: 60%;
  border-radius: 50%;
  padding-top: 20px;

}
.card4 h1{
  display: flex;
  align-items: flex-start;
 left: 0;
 text-decoration: underline;
 padding-left: 200px;
 padding-bottom: 10px;
 
}
.card4 p{
  text-align: justify;
  padding: 10px;
} */

/*****card end****/


/*** menu-icon start****/
.icons{
 position: absolute;
  font-size: 2rem;
  right: 5%;
 cursor: pointer;
 display: none;
 color: #fff;
  
}

#check{
  display: none;
}

/*** menu-icon end****/

/*** media queries start****/
@media screen and (max-width:992px)
{
  .container{
    height: 15%;
    max-height: 20%;
    padding: 10px 10px;
  }
  .logo img{
    max-width: 20%;
    
  }
  .content1{
    margin-top: 80px;
  }
}

@media screen and (max-width:976px)
{

 
  .icons{
    display: flex;
  }
  .logo img{
    width: 10%;
  }
  #check:checked~.icons #menu-icon{
    display: none;
   
  }

  .icons #close-icon{
    display: none;
  }

  #check:checked~.icons #close-icon{
    display: block;
    
  }
   header{
    width: 100%;
    max-width: 100%;
    position: fixed;
    flex: 1 1;
    top: 0;
    /* z-index: 1000; */
    overflow-y: scroll;
    /* overflow-x: hidden; */
    max-height: 100%;
    
    
   
   } 
  

  .navbar{
    position: absolute;
    top:100%;
    width: 100%;
   
    left: 0;
    height: 0;
    background: rgba(0,0,0,.5);
    /* background-color: gray; */
    backdrop-filter: blur(5px);
    box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
    overflow: hidden;
    font-size: 1.5rem;
  
    
  }
  #check:checked~.navbar{
    height: 30rem;
   
  }
  .navbar ul{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
  }
  .dropdown_menu{
    position: absolute;
    right: 5%;
    top: 40%;
    height:auto;
    padding: -5px;
    
  }
  .container1{
  
    
    grid-template-columns: 1fr;
    height: 90vh;
    /* max-height: 100%; */
    /* width: 100%;
    max-width: 100%; */
  }
  section{
    padding: 90px 3%;
}
/* .content1{
  padding-top: 20px;
  text-align: center;
}
.content1 h1{
  padding: 30px;
} */
  
.content1{
  margin-top: 20px;
  text-align: center;
  
}
.content1 h1{
    align-items: center;
}
  .content2{
    
   
    text-align: center;
  }
  /* .content2 img{ */
    /* padding: 20px; */
    /* text-align: center;
    width: 100%;
    max-width: 600px; */
    /* width: 100%;
    max-width: 500px; */
    /* height: auto;
    align-items: center; */
  /* } */
  /* .content2{
    
    margin-top: -100px;
    text-align: center;
  } */
  .content2 img{
   
   
    width: 100%;
    max-width: 40%;
    height: auto;
    margin-top: -20px;
   
  }
 
  .container2{
    margin-top: 50px;
    /* position: relative; */
    width: 100%;
    max-width: 100%;
    
    height: auto;
  }
  /* .card{
   width: 100%;
   max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr)); */
    /* grid-template-columns: auto; */
    /* gap:5px;
  } */
  /* .card{
    display: flex;
    flex-direction: column;
    width: auto;
    flex-basis: 100%;
} */
 .card{
  /* padding-top: 50px; */
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
  gap:5px; 
 }
.card1{
  width: 100%;
  max-width: auto;
}

.card1 h1{
 
  left: 0;
  /* align-items: center; */
  /* padding-right: 1000px; */
  text-wrap: wrap;
 
 text-decoration: underline;
 
 
}
 
}

/*** media queries end****/