*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header{
  /* position: relative; */
  width: 100%;
   max-height: 100vh;
   max-width: 100%;
   /* background-image: linear-gradient(white,blue); */
   background-image: radial-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.8)),url("../images/restaurantlogo1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 

 /* background-color: linear;  */
}

nav{
  /* position: fixed; */
   max-width: 100%;
   min-height: 10%;
   /* background-color:wheat; */
   box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
   /* position: fixed; */
 
}

nav ul{
  width: 100%; 
  /* height: 50px; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* gap: 1rem; */
  backdrop-filter: blur(3px);
 
  position: fixed;
  
  
}
nav li{
  height: 50px;
  list-style-type: none;
  position: relative;
  /* :hover{
    background-color: rgb(29, 162, 98);
  } */
  
}

nav a{
  max-height: 100%;
  color:blueviolet;
  font-weight: bold;
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0px 40px;
  
  /* transition: 0.5s ease; */
  
}
nav a:hover{
  color:palegoldenrod;
  transform: scaleY(1.3);
 
  /* background-color: pink; */
  /* transition: all 0.3s smooth; */
}


/* nav img{
  width: 50px;
  height: 50px;
  padding-left: 7px;
  
 
} */

nav li:nth-child(2){
  
  margin-right: auto;

}
nav img{
  max-width: 70px;
  height: 50px;
  padding-left: 5px;
}

nav h1{
  font-weight: bold;
  font-family:fantasy;
  padding: 10px;
  color: orangered;
  
}
 
.book{
  color: orangered;
}

.dropdown_menu{
    position: absolute;
    display: none;
    left: 0;
    top: 100%;
    /* background-color: rgb(29, 146, 146); */
    /* background: transparent; */
   box-shadow: 0 1px 5px rgba(0,0,0,1);
}

  
  nav li:hover .dropdown_menu{
    display: flex;
    /* position: absolute;
    left: 0;
    top:100%; */
    
   }

   .dropdown_menu ul{
    display: block;
    margin: 10px;
    /* -webkit-backdrop-filter: saturate(10%) blur(20px); */
    /* backdrop-filter: blur(20px); */
    
   }

   .dropdown_menu ul li{
    width: 150px;
    padding: 10px;
    color: orangered;
   }
   .dropdown_menu a{
    color:greenyellow;
   }

 .fas{
  float: right;
  margin-left: 10px;
  
 }

 .dropdown_menu1{
  display: none;
  position: absolute;
  top:0;
  left: 150px;
  margin-left: 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,1);
   /* background-color: rgba(255, 255, 255,0.8);
  backdrop-filter: blur(3px);  */
/*   
  background: transparent; */
  
}
  
 .dropdown_menu ul li:hover .dropdown_menu1{
  display: flex;
  position: absolute;
  
 }
/*.menu-icon{
  display: none;
}

 .menu-icon i{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: #fff;
  
 }

 /*@media screen and (max-width:600px)
 {
  nav ul{
  
    position: absolute;
    top:70px;
    left:0;
    right:0;
    flex-direction: column;
    gap: 0;
    
  }
  nav ul li{
    padding: 20px;
  }
  .menu-icon:hover{
    display: flex;
  }
 }*/
 .container{

  display: flex;
  flex-direction: row;
  max-width:100%;
  min-height: 100vh;
 
 }
 .content1{
  position: absolute;
  max-width: 50%;
  height: 25%;
  padding-top: 100px;
  color: white;
  display: flex;
  flex-direction: column;
  
   /* display: flx;
   align-items: flex-start;
   justify-content: flex-start;
   flex-flow: column nowrap; */
   /* float: left; */
   font-size: 20px;
   z-index:1;
   
 }
  .content2{
    position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
   padding-left: 880px;
  padding-top: -100px; 
  /* padding: 30px 40px; */
  /* z-index:-1; */
 }
 .animate{
  /* animation-name: slide;
  animation-duration: 2s;
 animation-iteration-count: 1;
 animation-timing-function: linear; */
 animation: slide 1s linear;
 
 }

 @keyframes slide{
   0%{
     transform:translatex(-500px);
    
   }
   30%{
    transform:translatex(-500px);
   
  }
 }
 .content1 span p{
  display:flex;
  flex-basis: row nowrap;
  /* align: justify; */
  text-justify: inter-character;
  padding-left: 20px;
 }

 .content1 h1{
  padding-top: 50px;
  padding-left: 50px;
  font-size: 70px;
  font-style: oblique;
  font-weight: 100px;
 }
 .content2 img{
  
  height: 80vh;
  position: relative;
 animation-name:rotate;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: -1;
 }

 @keyframes rotate{
  from{
    transform: rotate(-360deg);
  }
  to{
    transform: rotate(360deg);
  }
}
.btn{
  background-color: orangered;
  color: white;
  padding: 20px;
  margin-left: 20px;
  border-radius: 10px;
}

 /*.content2{
  /* display: flex;
  align-items: flex-end;
  justify-content: flex-end; */
  /* float: right;
  
} */
/* .content2 img{
  
  width: 40vw;
  height: 90vh;
  padding-top: 65px;
  padding-left: 30px;  
  padding-right: 30px;
  animation-name:rotate;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotate{
  from{
    transform: rotate(-360deg);
  }
  to{
    transform: rotate(360deg);
  }
} */

/* .animate{
   animation: imgRotate 50s linear infinite;
   
   animation-duration: 50s;
   animation-timing-function:linear;
   animation-delay: 0s;
   animation-iteration-count: infinite;
   animation-direction: normal;
   animation-fill-mode: none;
   animation-play-state: running;
   animation-name: imgRotate;
   animation-timeline: auto;
   animation-range-end:normal;


} */
/* .animate{
  animation-name: rotate;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-delay: 1s;
  animation-direction: reverse;
 
}

@keyframes rotate{
  0%{
    transform: rotate(360deg);
  }
}
 */

/* ***** about Us*****  */

.container2{
  width: 100%;
  height: 350px;
  /* margin-inline: auto; */
  display: flex;
  gap:1rem;
  justify-content: space-around;
  padding-top: 90px;
  margin-top: 100px;
 background-color:whitesmoke;
 padding-bottom: 10px;
 
}
.card{
  width: 23%;
  
  background-color:white;
  
  animation: slide 1s ease;
 
}

@keyframes slide{
  0%{
    transform: translateY(50%);
  }
}
.card:hover{
  transform: translateY(-10px);
  transition: all 0.5s ease;
  background-color: orange;
  color: white;

}
.card1{
  display: flex;
}
.card1 img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.card1 h2{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  text-decoration: underline;
}
.card p{
  padding: 25px 10px;
  text-align: justify;
  
  font-weight: 100px;
  font-style: italic;
}
.card2{
  display: flex;
}

.card2 img{
  width: 200px;
  height: 100px;
  margin-left: -50px;
  
  
}
.card2 h2{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  text-decoration: underline;
  margin-left: -50px;
}

.card3{
  display: flex;
}

.card3 img{
  width: 150px;
  height: 100px;
  
  
  
}
.card3 h2{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  text-decoration: underline;
  margin-left: -10px;
}

.card4{
  display: flex;
}

.card4 img{
  width: 150px;
  height: 100px;
  
  
  
}
.card4 h2{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  text-decoration: underline;
  margin-left: -10px;
}

.container3{
 width: 100%;
 display: flex;
 margin-top: 150px;
 
}
.about{
  width: 50%;
  height: 50%;

}
.about1{
  display: flex;
 
 /* animation: zoom-in 1s cubic-bezier(0,0,0,0); */
 

}
@keyframes zoom-in {
  0%{
    /* transform: scale(-1); */
    transform: scale(0.3); 
  }
}
.about1 .image1{
  /* width: 300px; */
  height: 250px;
  width: 40%;
  margin-left: 10px;
  transform: scaleY(120%);
  animation: zoom-in 1s ease;
}
.about1 .image2{
  /* width: 250px; */
  width: 30%;
  height: 200px;
  margin-left: 20px;
 margin-top: 75px;
 animation: zoom-in 1s ease;

/* margin-left: -40px; */
/* 
align-items: flex-end;
justify-content: flex-end;  */
} 
.about2{
  display: flex;
  margin-top: 80px;
}
.about2 .image3{
  width: 250px;
  height: 250px;
  margin-left: 60px;
 margin-top: -60px;
 animation: zoom-in 2s ease;

/* margin-left: -40px; */
/* 
align-items: flex-end;
justify-content: flex-end;  */
}
.about2 .image4{
  width: 300px;
  height: 250px;
  transform: scaleY(120%);
  margin-left: 20px;
  margin-top: -40px;
  animation: zoom-in 2s ease;
} 
.about3 {
  width: 50%;
  
}
.about3 h2{
  font-family: "Brush script MT",cursive;
   font-size: 40px;
  color: orange;
}
.line{
  display: flex;
  
}
.line-1{
  
  width: 50px;
  height: 3px;
  background-color: orange;
  align-items:center;
  /* display: flex;
  align-items: flex-start;
  justify-content: flex-start; */
}

.text{
  font-size: 35px;
  display: flex;
}
.text img{
  width: 10%;
  height: 80px;
 
  
  margin-top: -20px;
 
}

.about3 p{
  padding-right: 10px;
  /* align-content: justify; */
  padding-bottom: 10px;
  
}


/********* Media queries for responsive************/
/* .menu-btn{
  color: white;
  position: absolute;
  top:20px;
  right:20px;
  display:none;
  width:30px;
} */
/* @media screen and (max-width:720px){
  nav ul{
    flex-direction: column;
    background-color: gray;
    position: absolute;
    top:0;
    right: -900px;
    width: 80%;
    height: 100vh;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  nav li{
    text-align: left;
    width: 100%;
    padding: 100px 30px;
    border-bottom: 1px solid white;
  }
  nav .active{
    right:0;
  }
} */
