h1{
    text-align: center;
}
#choices{
    text-align: center;
    
}
#choices button{
    font-size: 80px;
    margin: 20px;
}

#choices img{
    width: 80px;
    object-fit: cover;
   
}

p{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}